XDG_DESKTOP_DIR="$HOME/{{ user.xdg_dirs.desktop }}"
XDG_DOCUMENTS_DIR="$HOME/{{ user.xdg_dirs.documents }}"
XDG_DOWNLOAD_DIR="$HOME/{{ user.xdg_dirs.download }}"
XDG_MUSIC_DIR="$HOME/{{ user.xdg_dirs.music }}"
XDG_PICTURES_DIR="$HOME/{{ user.xdg_dirs.pictures }}"
XDG_PUBLICSHARE_DIR="$HOME/{{ user.xdg_dirs.public_share }}"
XDG_TEMPLATES_DIR="$HOME/{{ user.xdg_dirs.templates }}"
XDG_VIDEOS_DIR="$HOME/{{ user.xdg_dirs.videos }}"
