[gpg]
	format = ssh
[gpg "ssh"]
	program = /opt/1Password/op-ssh-sign
[commit]
	gpgsign = true
[user]
	signingKey = {{ lookup('community.general.onepassword', 'Github SSH Auth', field='public key', master_password=onepassword_master_password.user_input) }}
	name = {{ lookup('community.general.onepassword', 'Github', field='name', master_password=onepassword_master_password.user_input) }}
	email = {{ lookup('community.general.onepassword', 'Github', field='username', master_password=onepassword_master_password.user_input) }}
