XDG_DESKTOP_DIR="$HOME/{{ xdg_user_dirs.desktop }}"
XDG_DOCUMENTS_DIR="$HOME/{{ xdg_user_dirs.documents }}"
XDG_DOWNLOAD_DIR="$HOME/{{ xdg_user_dirs.download }}"
XDG_MUSIC_DIR="$HOME/{{ xdg_user_dirs.music }}"
XDG_PICTURES_DIR="$HOME/{{ xdg_user_dirs.pictures }}"
XDG_PUBLICSHARE_DIR="$HOME/{{ xdg_user_dirs.public_share }}"
XDG_TEMPLATES_DIR="$HOME/{{ xdg_user_dirs.templates }}"
XDG_VIDEOS_DIR="$HOME/{{ xdg_user_dirs.videos }}"
