file://{{ user.home }}/Deskplay
file://{{ user.home }}/Vault
file://{{ user.home }}/Vault/Archive
file://{{ user.home }}/Vault/Documents
file://{{ user.home }}/Vault/Media
file://{{ user.home }}/Vault/Projects
file://{{ user.home }}/Vault/Resources
file://{{ user.home }}/Documents
file://{{ user.home }}/Music
file://{{ user.home }}/Pictures
file://{{ user.home }}/Videos
file://{{ user.home }}/Downloads
